.base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}
.bd {
  background-position: center;
  background-size: cover;
  
}
.center {
  position: absolute;
  top: 40%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.center2 {
  position: absolute;
  top: 15%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.start {
  padding: 15px 40px;
  border-radius: 30px;
  background: white;
  color: black;
}
.start:hover {
  background: red;
  color: black;
}
footer {
  text-align: bottom;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1b1b1b; 
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: red;
}

.language-selector {
  position: relative;
}

.language-selector button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.language-selector ul {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1b1b1b;
  list-style: none;
  padding: 10px 0;
  border: 1px solid #444;
  border-radius: 5px;
  display: none;
}

.language-selector ul li {
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.language-selector ul li:hover {
  background-color: red;
  color: white;
}

.language-selector ul.show {
  display: block;
}

.transition-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  background: #e63946;
  border-radius: 50%;
  z-index: 9999;


  transform: scale(0);
  pointer-events: none;
  transition: transform 0.7s ease-in-out;
}


.transition-circle.active {
  transform: scale(150);
}
