.base {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}
.bd {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background: rgb(207, 207, 207);
}
.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center2 {
  min-height: calc(100vh - 90px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start {
  padding: 15px 40px;
  border-radius: 30px;
  background: white;
  color: black;
}
.start:hover {
  background: red;
  color: black;
}
footer {
  text-align: bottom;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #1b1b1b; 
  color: white;
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.nav-menu a:hover {
  color: red;
}

.language-selector {
  position: relative;
}

.language-selector button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.language-selector ul {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1b1b1b;
  list-style: none;
  padding: 10px 0;
  border: 1px solid #444;
  border-radius: 5px;
  display: none;
}

.language-selector ul li {
  padding: 8px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.language-selector ul li:hover {
  background-color: red;
  color: white;
}

.language-selector ul.show {
  display: block;
}

.transition-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  background: #e63946;
  border-radius: 50%;
  z-index: 9999;


  transform: scale(0);
  pointer-events: none;
  transition: transform 0.7s ease-in-out;
}


.transition-circle.active {
  transform: scale(150);
}
.box {
  width: 80%;
  max-width: 1200px;
  height: 500px;

  background: rgba(68, 68, 68, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 30px;
}
.box2 {
  width: 80%;
  max-width: 1200px;
  height: 500px;

  background: rgba(68, 68, 68, 0.6);
  backdrop-filter: blur(8px);
  border-radius: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 30px;

  margin: 90px auto; 
}


.site-footer {
  background: #0e0e0e;
  color: #aaa;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  margin-top: auto;
}

.site-footer p {
  margin: 0;
}
html, body {
  height: 100%;
}

main {
  flex: 1;
  margin-top: 90px;
}

.topic-card {
  text-decoration: none;
  width: 250px;
  height: 300px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  cursor: pointer;

  transition: all 0.3s ease;
}

.topic-card h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.topic-card p {
  font-size: 18px;
  opacity: 0.8;
}


.topic-card:hover {
  transform: translateY(-15px) scale(1.05);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
.lesson-text {
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.6;
  flex: 1;
  margin-top: 90px;
}

.tooltip {
  position: relative;
  cursor: pointer;
  color: #ad2020;
  font-weight: bold;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.9);
  color: #111;
  padding: 8px 12px;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  font-size: 14px;
  z-index: 10;
}

.tooltip:hover::after {
  opacity: 1;
}
.button {
  padding: 5px 10px;
  border-radius: 30px;
  background: white;
  color: black;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}
.button:hover {
  background: red;
  color: black;
}
.test-box {
  max-width: 700px;
  margin: 120px auto;
  background: rgba(255,255,255,0.9);
  padding: 30px;
  border-radius: 20px;
}

.question {
  margin-bottom: 20px;
}

.bt2 {
  padding: 5px 10px;
  border-radius: 30px;
  background: white;
  color: black;
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}
.bt2:hover {
  background: red;
  color: black;
}